@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/* font-family: 'Nunito', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
Extra-light 200
Light 300
Regular 400
Bold 700
Black 900 */

:root {
  --color-primario: #282248;
  --color-fondo: #18142f;
  --color-botones: #443d68;
  --color-botones-active: #383158;
  --color-fuente: #ccc;
  --color-fuente-active: #fff;
  --color-iconos: #ad5ace;
}

.container-loading-carrousel{
  height:200px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#root {
  background-color: var(--color-primario);
}


/* Estilos Navbar */

.navbar-custom {
  background-color: var(--color-fondo);
  z-index: 1050;
  box-shadow: 0px 5px 12px #111;    
}

.navbar-light .navbar-brand {
  color: var(--color-fuente);
}

.navbar-light .navbar-brand:hover {
  color: var(--color-fuente-active);
}

.navbar-light .navbar-nav .nav-link {
  border-radius: 0.3rem;
  font-weight: 600;
  color: var(--color-fuente);
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: var(--color-botones);
  color: var(--color-fuente-active);
}

.search-button, .search-button:hover, .search-button:active, .search-button:visited, .search-button:focus {
  background-color: var(--color-botones);
  color:var(--color-fuente);
}

.nav-link{
  font-size:1.1rem;
  color: var(--color-fuente);
}

.login-modal{
  z-index:1055;
}

.signup-modal{
  z-index:1055;
}


/* Estilos Carousel */

.carousel-principal div {
  padding-left: 10%;
}

.img-fondo-carousel {
  max-height: 40rem;
  object-fit: cover;
}

.title-carousel,
.description-carousel {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 5px;
  text-shadow: 3px 3px 5px #000;
}

.description-carousel {
  width: 70%;
}

/* Estilos Cards Principales */

.movie-card {
  transition: 0.3s;
  color: #fff;
  box-shadow: 5px 5px 15px #111;
  width: 14rem;
}

@media (max-width: 768px) {
  .movie-card {
    width: 10rem;
  }
}

.movie-card:hover {
  transform: scale(1.03);
}

.card-body {
  background-color: #443d68;
}

.genre-container span {
  display:inline;
  background-color: #443d68b9;
  border-radius: 1rem;
}

/* | Efecto para que el titulo tenga puntos suspensivos ... | */

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-tag-container p,
.card-title-span {
  border-radius: 1rem;
  padding: 0.4rem;
  text-decoration: none;
  background-color: var(--color-botones-active);
}

.card-tag-container p:hover {
  background-color: var(--color-botones-active);
}

/* Estilos section */

.section-header {
  color: var(--color-fuente);
}

.header-icon {
  color: var(--color-iconos);
}

/* Estilos Swipers */

.swiper-container {
  margin-bottom: 3rem;
}

.swiper-button-next, .swiper-button-prev{
  color:var(--color-iconos)!important;
}

/* Estilos Movie Detail */

.movie-detail-info h2,
.movie-detail-info p,
.movie-detail-info .torrents-container,
.torrents-container-mobile,
.movie-detail-info span {
  background-color: #443d68b9;
  border-radius: 0.3rem;
  color: var(--color-fuente);
}

.movie-detail-cover {
  box-shadow: 5px 5px 15px #111;
  border: 3px solid var(--color-botones);
}

.link-torrent {
  color: #ccc;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 3px;
  transition: 0.2s;
}

.link-torrent:hover {
  background: var(--color-primario);
}

.link-torrent:focus {
  background: var(--color-primario);
}

.torrents-container {
  max-width: 768px;
}

.torrents-container .download {
  border-bottom: 2px solid var(--color-fuente);
}

.torrents-container-mobile .download {
  border-bottom: 2px solid var(--color-fuente);
}

.torrent-magnet {
  color: var(--color-fuente);
}

.torrent-magnet:hover {
  color: var(--color-iconos);
}

/* Estilos Footer */

.footer-container {
  color: #fff;
}

@media (max-width: 1200px) {
  .footer-container {
    border-top: 2px solid var(--color-botones);
  }
}

.footer-social i {
  color: #fff;
  font-size: 2.5rem;
}

.footer-right p {
  display: inline;
  font-family: "Nunito", sans-serif;
  vertical-align: center;
  font-weight: 300;
  font-size: 1.4rem;
}

.bi-instagram:hover {
  color: rgb(236, 109, 24);
}

.bi-facebook:hover {
  color: rgb(43, 115, 248);
}

.bi-whatsapp:hover {
  color: rgb(116, 241, 78);
}

.bi-github:hover {
  color: rgb(132, 46, 243);
}


/* Estilos Searchbox */


.search-canvas{
  position:absolute;
  z-index:1050;
  background-color: #282248f5;
  color: var(--color-fuente);
}

.header-canvas{
  background-color: var(--color-fondo);
}

.header-canvas button{
  color:#fff;
}

.query-link{
  color:var(--color-fuente);
}

.query-link:hover{
  background-color: #443d68b9;
  border-radius: 0.3rem;
  color: var(--color-fuente);
}


/* Estilos Modals */


.modal-header{
  background-color: var(--color-primario);
}

.modal-title{
  color:var(--color-fuente);
}

.modal-body{
  background-color: var(--color-botones);
  color:var(--color-fuente);
}

.modal-footer{
  background-color: var(--color-primario);
}

/* Estilos bookmarks */

.bookmark-xl{
  position:absolute;
  color: var(--color-iconos);
  font-size:2.8rem;
  z-index:1049;
  top:105px;
  left:460px;
  transition:.3s;
}

.bookmark-xl:hover{
  transform:scale(1.2);
  cursor:pointer;
}

.bookmark-md{
  position:absolute;
  color: var(--color-iconos);
  font-size:2.8rem;
  z-index:1049;
  top:94px;
  left:210px;
  transition:.3s;
}

.bookmark-md:hover{
  transform:scale(1.1);
  cursor:pointer;
}

.bookmark-sm{
  color: var(--color-iconos);
  font-size:2.2rem;
  z-index:1049;
  transition:.3s;
}

.bookmark-sm:hover{
  transform:scale(1.1);
  cursor:pointer;
}
